@import 'variables';

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $color--light;
  color: $color--dark;
  margin: 0 1em;
  font-size: 120%;

  @media (min-width: 768px) {
    margin: 0 20px;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $color--primary;
}

a {
  color: $color--primary;
  text-decoration: underline wavy;
  transition: all 0.4s ease;

  &:hover {
    color: $color--tertiary;
    transition: all 0.4s ease;
  }
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 1em;
  font-size: 126%;
  margin-bottom: 150px;
}

// ::after element to show end of #app content
#app::after {
  margin-top: 50px;
  font-size: 0.51em;
  content: '~end of page~';
  display: block;
}

/* Add styling for your navigation menu here */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 1em auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 1em;
  width: 100%;

  a {
    text-decoration: none;
    font-variant: all-petite-caps;
    font-weight: bold;
    font-size: 1.25em;
    padding: 0.25em 0.5em;
    border: 4px dashed $color--primary;
    transition: all 0.4s ease;
    display: flex;
    margin-bottom: 0.5em;
  }

  a:hover {
    background-color: $color--primary;
    color: $color--light;
  }

  a.router-link-active {
    background-color: $color--secondary;
    color: $color--light;
  }

  a.router-link-active:hover {
    background-color: $color--tertiary;
    color: $color--success;
    filter: contrast(1.2);
  }

  @media (min-width: 768px) {
    max-width: 55vw;
    justify-content: space-between;
  }
}

/* Additional styles can go here */
.volume-control {
  border: 2px solid $color--lightpink;
  text-align: center; /* Center the slider if needed */
  padding: 0 1em;
  width: fit-content;
  margin: 1em auto 0;
}

/* You can style the slider here */
#volume-slider[type="range"] {
  /* Slider styling */
  width: 180px;
  margin: 1em;
}

.colophon {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 1em auto 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
  }

  li {
    margin: 0.5em auto;
    border-left: 7px solid $color--primary;
    padding: 0.25em 0.5em;
    text-align: left;
  }
}
