@import 'variables';

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $color--light;
  //background-image: url('@/assets/flowers.png');
  background-repeat: repeat;
  background-attachment: fixed;
  color: $color--dark;
  margin: 0 0.5em;
  font-size: 120%;

  @media (min-width: 768px) {
    margin: 0 2em;
  }

  @media (max-width: 360px) {
    font-size: 90%;
  }
}

h1, h2, h3 {
  color: $color--primary;
  line-height: 1.1;
}

h4, h5, h6 {
  color: $color--tertiary;
  line-height: 1.1;
}

a {
  color: $color--primary;
  text-decoration: underline wavy;
  transition: all 0.4s ease;

  &:hover {
    color: $color--tertiary;
    transition: all 0.4s ease;
  }
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $color--secondary;
  margin: 1em auto 27vh;
  font-size: 114%;

  @media (min-width: 768px) {
    max-width: 80%;

  }

  h1 {
    font-size: 2em;
    margin-bottom: 0.15em;
    margin-top: 0.25em;

    @media (min-width: 768px) {
      font-size: 2.5em;
    }
  }

  h4 {
    margin-top: 0.15em;
  }

}

// ::after element to show end of #app content
#app::after {
  margin-top: 50px;
  font-size: 0.51em;
  content: '~end of page~';
  display: block;
}


/* Additional styles can go here */
