@import 'variables';

// Persistent player at the bottom of the screen
.persistent-player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color--success;
  color: black;
  padding: 0.75em;
  display: flex;
  height: fit-content;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  filter: contrast(1.17);

  .track-info {
    display: flex;
    align-items: center;
  }

  .track-cover {
    width: 5em;
    height: 2em;
    object-fit: cover;
    margin-right: 16px;
    display: none;
  }

  .track-details h4,
  .track-details p {
    margin: 0;
    text-align: left;
  }

  .track-details {
    border-left: 7px solid $color--tertiary;
    padding-left: 1em;
    border-right: 7px solid $color--tertiary;
    padding-right: 1em;
  }

  .controls {
    margin-top: 0.5em;
    display: flex;
    align-items: center;
    width: 80vw;

    @media screen and (min-width: 768px) {
      max-width: 55vw;
    }
  }

  .no-track {
    text-align: left;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
  }

  button img {
    width: 32px;
    height: 32px;
  }

  #seek-bar[type="range"] {
    margin-left: 1em;
    width: 100%;
  }

  .seek-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: pink; /* Color of the thumb */
    /* ... other styles such as width, height, etc. ... */
  }
}

// 404 page styles
.not-found {
  text-align: center;
}

.not-found-image {
  display: block;
  margin: 0 auto 1em;
  width: auto;
  max-height: 40vh;
}

.not-found h1 {
  font-size: 4em;
  margin: 0;
}

.not-found p {
  font-size: 2em;
}
