@import 'variables';

// container for the music list
.music-container {
  .track-list {
    display: grid;
    grid-template-columns: 1fr; // Start with a single column
    gap: 1em;
    list-style: lower-greek;
    margin: 1em auto;
    height: auto; // Adjust if you want a scrolling list or full-height
    overflow-y: auto; // Only show scrollbar if the content overflows
    padding: 1em 0.5em;
    border-radius: 0.5em;
    background-color: $color--pistachio; // Adjust if you have a specific color or pattern in mind

    @media (min-width: 880px) {
      // Define two columns above 880px
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
      max-width: 70vw;
      gap: 2em;
      padding: 1.5em 3em;
    }
    // Continue with additional breakpoints as needed
  }

  .track-item {
    background: $color--lightpink; // Adjust if you have a specific color or pattern in mind
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 0.81em 0.81em 0.81em 1.65em;
    border-radius: 0.5em;
    text-align: left;
    display: flex;
    align-items: flex-start;
    min-height: fit-content;

    &:hover {
      box-shadow: 0 0 11px rgba(0, 0, 0, 0.5);
      transition: all 0.4s ease;
    }
  }

  .track-cover {
    width: 180px; // Specific size for cover images; adjust as needed
    height: 80px; // Make equal to width for a square aspect ratio
    object-fit: cover;
    margin-right: 1em;
    display: none;
  }

  .track-details {
    // Keep your text styles here

    h3,
    p {
      margin: 0;
      padding-left: 0.15em;
    }

    h3 {
      color: $color--dark;
      font-weight: bold;
      font-size: 1.65rem; // Keep the font size consistent
      line-height: 1.05;
      display: list-item;
    }

    h3::marker {
      color: $color--primary;
      font-weight: normal;
      font-size: 0.75em;
    }

    p {
      color: $color--secondary; // Enforce a consistent color for the artist name
      font-size: 1.1rem; // Keep the font size consistent
      margin-top: 0.25em;
    }
  }

  .track-duration {
    color: $color--dark;
    font-size: 1.1rem;
    margin-left: auto;
    align-self: flex-start;
    padding-left: 1em;
  }

  .currently-playing {
    background-color: $color--success;
  }
}

// Persistent player at the bottom of the screen
.persistent-player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color--success;
  color: black;
  padding: 0.75em;
  display: flex;
  height: fit-content;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  filter: contrast(1.17);

  .track-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .track-cover {
    width: 5em;
    height: 2em;
    object-fit: cover;
    margin-right: 16px;
    display: none;
  }

  .track-details h4,
  .track-details p {
    margin: 0;
    text-align: left;
  }

  .track-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
  }

  .controls {
    margin-top: 0.5em;
    display: flex;
    align-items: center;
    width: 80vw;

    @media screen and (min-width: 768px) {
      max-width: 55vw;
    }
  }

  .no-track {
    text-align: left;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
  }

  button img {
    width: 32px;
    height: 32px;
  }

  #seek-bar[type="range"] {
    margin-left: 1em;
    width: 100%;
  }

  .seek-bar::-webkit-slider-thumb {
    background: $color--tertiary;
    /* ... other styles such as width, height, etc. ... */
  }
}

// featured track styles
.featured-track {
  color: $color--dark;
}

// 404 page styles
.not-found {
  text-align: center;

  h1 {
    font-size: 4em;
  }

  p {
    font-size: 2em;
  }

  .not-found-image {
    display: block;
    margin: 0 auto 1em;
    width: auto;
    max-height: 40vh;
  }
}

.homepage-links {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
  flex-wrap: wrap;
}

//button styles
.button {
  padding: 0.5em 1em;
  border-radius: 0.75em;
  text-decoration: none;
  transition: all 0.4s ease;

  &--primary {
    background-color: $color--tertiary;
    color: $color--success;

    &:hover {
      background-color: $color--success;
      color: $color--tertiary;
    }
  }

  &--secondary {
    background-color: $color--secondary;
    color: $color--lightpink;

    &:hover {
      background-color: $color--lightpink;
      color: $color--secondary;
    }
  }

  &--tertiary {
    background-color: $color--primary;
    color: $color--lightpink;

    &:hover {
      background-color: $color--light;
      color: $color--primary;
    }
  }
}

// volume slider
.volume-control {
  border: 2px solid $color--tertiary;
  text-align: center; /* Center the slider if needed */
  padding: 0.5em;
  width: fit-content;
  margin: 1em auto 0;
}

/* You can style the slider here */
#volume-slider[type="range"] {
  /* Slider styling */
  width: 15em;
  margin: 1em;
}

// Music bars for the visualizer
.music-bars {
  display: flex;
  justify-content: space-around;
  margin: 2em auto;
  align-items: center;
  gap: 1em;
  height: 3em; // Adjust based on how tall you want the bars to be
  width: 7em; // Adjust based on the desired width of the entire set of bars

  .bar {
    width: 1em; // Width of each individual bar
    height: 10%; // Starting height of each bar
    background-color: $color--lightpink; // Color of the bars
    animation: animateBar 2s infinite ease-in-out alternate;

    &:nth-child(1) {
      animation-delay: -0.6s;
    }

    &:nth-child(2) {
      animation-delay: -0.4s;
    }

    &:nth-child(3) {
      animation-delay: -0.2s;
    }

    &:nth-child(4) {
      animation-delay: initial;
    }

    &:nth-child(5) {
      animation-delay: -0.2s;
    }
  }
}

@keyframes animateBar {
  0% {
    height: 20%;
  }
  50% {
    height: 100%;
  }
  100% {
    height: 20%;
  }
}
