$color--white: #eeede5;
$color--black: #181818;
$color--primary: #0168c9;
$color--secondary: #1b5e01;
$color--tertiary: #a43128;
$color--success: #ffed92;
$color--light: #FDFAEDFF;
$color--dark: #25292c;
$color--lightpink: #fddced;
$color--pistachio: #e9fde6;
