$color--white: #eeede5;
$color--black: #181818;
$color--primary: #1e8dfd;
$color--secondary: #298505;
$color--tertiary: #a43128;
$color--success: #dcc22e;
$color--light: #f8f9fa;
$color--dark: #343a40;
$color--lightpink: #ffd6ec;
